//requires header-3

//header 5
.ks-header-5 {
    margin-top: 0;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.29);
    background: $white !important;

    #top_menu_collapse .nav-item .dropdown-menu .submenu__inner {
        @media (min-width: 991px) {
            margin-top: -16px;
        }
    }

    .container {
        flex-wrap: wrap !important;
        padding: 0;
    }

    .navbar {
        margin-top: 0;
        background: $header-5-top-background !important;

        &-toggler {
            margin: 10px 0 !important;
        }
    }

    .navbar-brand {
        width: 100%;
        padding: 0  0 10px !important;

        img {
            height: 50px !important;
        }

    }

    #top_menu {
        min-width: 100%;
        justify-content: space-evenly;
        text-align: center !important;
        margin: auto !important;
        padding-top: 10px;
    }

    @media (max-width: 990px) {
    .dropdown-menu,
    .submenu__inner {
        background-color: transparent !important;
    }

    .navbar-nav {
        .nav-link {
            text-align: left;
            padding-left: 15px;
        }
    }
    }

    &-search {
        position: absolute;
        right: 18px;
        bottom: -64px;
        z-index: 2;
        width: calc(100% - 170px);

        @media (min-width: 1400px) {
            right: 0;
        }

        @media (max-width: 990px) {
            right: 5px;
        }

        .oe_search_button {
           right: 13px !important;
        }

        .input-group {
            justify-content: flex-end;
        }

        @media (max-width: 540px) {
            bottom: -66px;

            input {
                width: 300px;
                transform: scaleX(0);
                transition: 0.3s ease;
                transform-origin: right;
                margin-right: -15px;
            }
        }
    }

    &-top {
      @extend .bg-dark;

         #top-nav {
            .top__links {
                > a:not(.dropdown-item) {
                    color: $white !important;
                }
            }
         }

        .my_wish_quantity {
            top: -4px !important;
        }

        .ks_mycart {
            i,
            span {
                color: $white !important;
            }
        }
    }

        #top_menu_collapse .nav-item .dropdown-menu.ks_not_mega_menu,
        #top_menu_collapse_clone .nav-item .dropdown-menu.ks_not_mega_menu {
            @media (min-width: 991px) {
                box-shadow: none !important;
                padding: 0px 7px !important;
                background: transparent;
                top: 0 !important;

                li {
                    background: white;
                    box-shadow: 0px 13px 12px 1px rgba(0, 0, 0, 0.45);

                    &:first-child {
                       margin-top: 26px;
                       padding-top: 10px;
                    }

                    &:last-child {
                        padding-bottom: 10px;
                    }
                }
            }
        }
}

//for fixed headers
header.o_header_affix.affix.affixed {
    .ks-header-5 {
        .navbar-brand {
            display: none;
        }

        .mega_submenu {
           margin-top: 10px;
        }

        #top_menu {
            padding-top: 0;
        }
    }
}

.ks-header-5-topmost {

    @media (max-width: 990px) {
        padding: 0 20px;

        > .row {
            padding: 0 10px;
        }
    }
    #top-nav {
        a.dropdown-toggle {
            color: $white !important;
        }
    }

    .nav-item.ks {
        b {
            color: $theme-text-color;
        }
    }
    + .o_affix_disabled,
    + .o_affix_enabled {
        .navbar-toggler {
            @media (max-width: 990px) {
                margin-left: -10px !important;
            }
        }

        .ks-header-5 {
            padding: 5px 26px;

            @media (max-width: 575px) {
                padding: 5px 15px;
            }
        }
    }

    @media (max-width: 575px) {
        > .row {
           padding: 10px;

            .ks_mycart {
               margin-left: 0;
               padding: 0 5px;
            }
        }
        + .o_affix_disabled,
        + .o_affix_enabled {
            .navbar-brand {
               padding: 10px 0 10px !important;
            }
        }
    }
}

@media (max-width: 575px) {
    .ks-header-5-topmost {
        .container-lg {
            > .col-sm-6:first-child {
                display: none;
            }
        }

        > .row {
            padding: 0 10px;
            width: 100%;
        }
    }
}

.ks-header-5-topmost
    .search_container{
        max-width: 300px;
        margin-left: auto;
}