//this requires header-3,header-5
//header-9
.ks-header-9 {
    box-shadow: none;

    #top_menu_collapse_clone {
        @media (max-width: 330px) {
            flex-basis: auto;
        }
    }

    #top_menu_collapse {
        @media (min-width: 991px) {
            background: $dark-color;
            width: 100%;
        }

        margin-bottom: 10px;
        flex-basis: auto;
    }

    .container {
       padding: 0;
       max-width: 100%;
       flex-direction: column;

        @media (max-width: 990px) {
           align-items: flex-end;
        }

        .navbar-brand {
            margin: auto;
            max-width: 1400px;

            @media (max-width: 575px) {
              margin-top: 5px;
              padding: 0 !important;
              height: auto !important;
            }
        }
    }

    .navbar-nav {
        > li {
           > a {
                 @media (min-width: 991px) {
                    color: $white !important;
                 }
            }
        }
    }

    @media (max-width: 990px) {
        .navbar-toggler {
            margin: 0 !important;
            padding: 10px;
        }
    }

    #top_menu {
        padding-top: 0 !important;
        max-width: 1400px;
        min-width: auto;
        width: 100%;
        position: relative;
    }
    &-topmost {
        z-index: 1030;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 990px) {
           border-bottom: 1px solid #ccc;
        }

        .my_wish_quantity {
            top: -6px;
        }

        #top-nav {
            > li:last-child {
                padding-right: 0 !important;
            }
        }

        label.dropdown-toggle {
            color: $black;
        }
    }
}

//fixed header
.o_header_affix.affix.affixed {
    .ks-header-9 {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.11);

        @media (min-width: 991px) {
            .navbar-collapse {
                background: $dark-color;
                width: 100%;
            }
        }

        @media (max-width: 990px) {
            .navbar-collapse {
                padding-bottom: 10px;
            }
        }
    }
}

.ks-header-9-search {
    input {
        margin-right: 0 !important;
    }

    @media (max-width: 990px) {
        right: 10px;
    }
}

@media (max-width: 575px) {
    .ks-header-9-topmost {
        width: 100%;

        > .col-sm-7 {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .ks-header-9-topmost {
        width: 100%;

        > .col-sm-7 {
            display: none;
        }
    }
}

.ks-header-9-topmost
    .search_container{
        max-width: 300px;
        margin-left: auto;
}