A:link {text-decoration:none;color:#A569BD;} 


A:visited {text-decoration:none;color:#A569BD;} 


A:active {text-decoration:none;color:#e88181;} 


A:hover {text-decoration:underline;color:#a59b9b;}  
/*estilo del menu*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fon
{
   background:#DDDDFF;
}
div.wrapper {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  margin: 1px auto;
  width: 100%;
}

nav.vertical {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: left;
}

  nav.vertical > ul {
     border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    background:#DDDDFF;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }

    nav.vertical > ul > li {
      display: block;
    }

      nav.vertical > ul > li > a {
        
        background: linear-gradient( to bottom, #0973b9, #a5af9f);
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size: 1rem;
        font-weight: bold;
        height: 35px;
        letter-spacing: .1rem;
        line-height: 35px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
      }

      
          nav.vertical > ul > li > div {
            background-color: #BBBBFF;
          }
          nav.vertical > ul > li > div > ul {
 
            list-style-type: none;
          }

            nav.vertical > ul > li > div > ul > li > a {
             background: rgb(176, 179, 174);
             border-bottom: 0 solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 1rem;
             padding: 6px;

             text-decoration: none;
             transition: all 0.15s linear;
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: rgba(217, 228, 178, 0.66);
                color: rgb(250, 254, 255);
                padding: 10px 0 10px 10px;
                font-weight: bold;
              }

.header{
  position: fixed;
  top:0;
  width:100%;
  height:90px;
  background:linear-gradient( to bottom, rgba(34, 68, 32, 1), #a5af9f);
  color:#FFFFFF;
}

div .navd
{
  margin-left:15%;
}
.equipo{
  margin-left:1%;
  margin-top:1%;
  align-content: center;
}
div .central
{
  margin-left:15%;
  padding:1px 16px;
  height:100%;
}
.fondo
{  
  overflow:auto;
  padding:88px 0px;
}

.ocultar1
{
  display: none;
}


/*Departamentos*/
.tabla_departamentos
{
  border-spacing: .9px;
  max-width: 500px;
  text-align: center;
}
.tabla_empleados
{
  border-spacing: .9px;
  max-width: 600px;
  text-align: center;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
}
.tdempleadoi
{
 text-align: center; 
 border: 1px solid #a5af9f; 
}
.tdempleado
{
 text-align: left; 
 border: 1px solid #a5af9f;
}
.content_Emple1
{
  width: 100%;
  max-width: 600px;
  padding: 2px;
  box-sizing:border-box;
  margin:1% auto;
  overflow: hidden;
  background:transparent;
}
.content_Emple
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  max-width: 500px;
  padding: 2px;
  box-sizing:border-box;
  margin:1% auto;
  overflow: hidden;
  background:rgb(240, 244, 252);
}
.sel
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
   background: transparent;
   font-size: 18px;
   height: 40px;
   width: 200px;
}

.titulo_departamento
{
  color: white;
  font-size: 1.1rem;
  background: linear-gradient( to bottom, #0973b9, #a5af9f);
}

/*ASIGNAR METAS*/
.pagenav_next{
  text-decoration:none;
}
.subtabla
{
  background:rgb(240, 244, 252);
  width: 100%;
}

.sub_titulo_Ametas
{
   color: white;
  font-size: 14px;
  background: red;
}
.content_Ametas {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  max-width: 1200px;
  box-sizing:border-box;
  overflow: hidden;
  background:rgb(240, 244, 252);
  }
  .dvdatos
  {
     
    box-sizing:border-box;
    margin:5% auto;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    text-align: center;
  }
  .tbdatos
  {
    width: 100%;
    text-align: center;
    max-width: 1200px;
  }
 .tabla_Ametas 
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border: .4px;
  border-spacing: .4px;
  max-width: 1200px;
  text-align: center;
}
 .sub_tabla_Ametas 
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border: .4px solid #9068BE;
  border-spacing: .4px;
  max-width: 1200px;
  text-align: center;
}
.txt_asig
{
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center; 
  width: 100%; 
  height: 30px;
  max-width:60px;
  background:rgb(240, 244, 252);
}

.txt_meta
{
 
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center; 
  width: 100%; 
  height: 30px;
  max-width: 500px;
  background:rgb(240, 244, 252);
}
.txt_meta1
{
 
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center; 
  width: 100%; 
  height: 30px;
  max-width: 250px;
  background:rgb(240, 244, 252);
}

.textarea
{
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: left; 
  width: 100%; 
  max-width: 450px;
  background:rgb(240, 244, 252);
  font-family: "Times New Roman";

}
.selecmul
{
  background:rgb(240, 244, 252);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
   font-size: 14px;
   height: 300px;
   width: 100%;
   max-width: 150px;
   max-height:300px;
   text-align: left;
}
.selecasig
{
  background:rgb(240, 244, 252);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
   font-size: 14px;
   height: 30px;
   width: 100%;
   max-width: 250px;
   text-align: center;
}
.txt_date
{
  border: 1px solid #DBE1EB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center; 
  width: 100%; 
  height: 30px;
  max-width: 200px;
  background:rgb(240, 244, 252);
}
.titulo_Ametas
{ 
  text-align: center;
  color: white;
  font-size: 14px;
  background: linear-gradient( to bottom, #0973b9, #a5af9f);

}
.tdtpmetas
{
   color: black;
  font-size: 16px;
  
  background:#BBBBFF;
}
.tdmetasamon
{
  background: #F67A7A;
  color: black;
  font-size: 13px;
}

.tdmetas
{
   color: black;
  font-size: 13px;
}
.tdobser
{
  font-size: 16px;
  font-weight: bold;
  background-color: #0973b9; 
}
.tdtapro{
	 color: green;
  font-size: 16px;
  
  background:#BBBBFF;
}
.tdtrepr{
	 color: red;
  font-size: 16px;
  
  background:#BBBBFF;
}
.tdmetasoculto
{
 color: black;
  font-size: 13px;
  background-color: #BBBBFF; 
}
.cuerpo_Ametas
{
  font-size: 1.1rem;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient( to bottom, #0973b9, #a5af9f);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
  background: linear-gradient( to bottom, #a5af9f, #0973b9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
  background-color:#378de5;
}
.myButton:active {
  position:relative;
  top:1px;
}

  .central_metasasig
  {
  margin-top:5px;
  margin-left:15%;
  padding:1px 16px;
  height:100%;
  }


/*//evaluar metas */
.radiof{
  background: #BBFFBB;
}
.radiot{
  background: #FFBBBB;
}

label {
  font-size: 1.5em;
  color: #625959;
}
input[type=checkbox] {
  display:none; 
}
input[type=checkbox] + label {
  cursor: pointer;
}
input[type=checkbox] + label:before {
  content: "";
  background: transparent;
  border: 4px solid #3399FF;
  text-shadow: 2px -2px 3px gray;
  border-radius: 8px;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  vertical-align:middle;
  height: 20px;
  width: 20px;
}
input[type=checkbox]:checked + label:before {
  content: '✓';
  font-size: 26px;
  color: #88c64b;
  font-family: "Times New Roman";
}

.label_checkbox {
  font-size: 18px;
  }

.foreditmeta{
  float:left;
  margin: 50px; 
  min-width: 200px
}

.tdmetasamon1
{
  background: #BBFFBB;;
  color: black;
  font-size: 13px;
}
