.snippet_featured_home_page {
    min-height: 300px;
    .tab-content {
        margin: auto;
        max-width: 1400px;
        width: 90%;

        @media (max-width: 1440px) {
            padding: 0 20px;
        }
        .products-carousel {
            @media (min-width: 769px) {
                max-width: 100%;
            }
        }
    }

    .product-card {
        box-shadow: none;
        margin: 0 9px;

        &:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                        0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }

    .fp__name {
        text-align: center;

        @media (max-width: 540px) {
            font-size: 16px;
        }
    }

    .fp__price {
        margin: auto;
    }

    @media (max-width: 540px) {
        padding: 20px 5px;
    }

}

.ks_products_table {
   // max-width: 1200px;
    margin: auto;

    .oe_product_image {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;

        img {
            position: relative;
            height: 300px;
            object-fit: contain;

            @media (max-width: 1400px) {
                 height: 250px;
            }

            @media (max-width: 1200px) {
                 height: 200px;
            }

            @media (max-width: 575px) {
                 height: 170px;
            }
        }
    }
}

//use this

.ks-banner-txt {
    position: absolute;
    top: 60px;
    left: 60px;

    @media (min-width: 1500px) {
        top: 240px !important;
    }

    @media (max-width: 990px) {
        transform: translateY(0);
        left: 30px;
        top: 100px;
    }

    @media (max-width: 540px) {
        top: 10px !important;
    }

    &-sub {
        font-size: 24px;
        position: relative;
        display: inline-block;

        @media (max-width: 768px) {
            font-size: 18px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 50%;
            height: 3px;
            bottom: 0;
            background: #656161;
            left: 0;
        }
    }

    &-main {
        font-size: 50px;
        font-weight: 700;
        padding: 20px 0;
        line-height: 1.2;

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 540px) {
            font-size: 24px;
            padding: 10px 0;
        }

    }

    .ks-btn-theme {
        margin-top: 24px;
    }
}

.ks-banner-offer {
    display: none !important;
    position: absolute;
    background: $primary;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    right: 60px;


    span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 60px;
        line-height: 1;
    }
}

.ks-furniture-deal {
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0px;
    margin: 0;
//     background-size: cover !important;
//     background-position: bottom left !important;
//     background-repeat: no-repeat !important;
    animation: moveupfull 0.6s ease-in-out forwards;
    opacity: 0;

    &:not(.no-animation) {
        .heading {
             animation: moveright 0.4s ease-in-out 0.6s forwards;
             opacity: 0;
        }

        .text-container {
            animation: moveright 0.4s ease-in-out 1s forwards;
            opacity: 0;
        }

        .ks-btn-theme {
            animation: moveright 0.3s ease-in-out 1.3s forwards;
            opacity: 0;
        }
    }
}

.ks-dual-product {
    animation: moveupfull 0.6s ease-in-out forwards;
    opacity: 1;

    &:nth-child(2n) {
        animation-delay: 0.3s;
    }

    .ks-product-about {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .ks-product-price {
        color: $black;
        height: max-content;
        height: fit-content;
        color: $theme-text-color;
        display: flex;
        @extend %leaf-bg;
        margin-left: 10px;

        @media (max-width: 575px) {
            font-size: 14px;
            margin-bottom: 0;
            margin-left: 0;
            padding: 4px 10px;
        }
    }

    .ks-product-sub {
        font-weight: 300;
    }

    .ks-product-img {
        @media (min-width: 576px) {
            padding: 16px;
        }

        img {
            transition: 0.3s ease-in-out;
        }
    }

    .ks-product-name {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: left !important;
          height: auto;
    }

    @media (min-width: 1025px) {
        &:hover {
           img {
              transform: translate(-20px);
           }
        }
    }
}

.ks-product-bredcrumb {
    background: #f7f7f7;
}

.ks-sliding-products {
    &.container {
        overflow: hidden;

        @media (max-width: 1500px) {
            max-width: 100%;
        }
    }

    .ks-product-about {
        min-width: 300px;
        margin-left: 30px !important;

        &:after {
            content: '';
            position: absolute;
            height: 3px;
            width: 50%;
            background: #717070;
            transition: 0.3s ease-in-out;
        }

        h2 {
            color: #545252;
            text-shadow: 2px -4px 4px rgba(181, 173, 173, 0.63);
        }


        .ks-product-about-sub {
            color: #5a4c4c;
        }
    }

    .ks-product-set {
        flex-wrap: nowrap;
        animation: moveleft 0.6s ease-in-out forwards;
        opacity: 0;

        img {
            transition: 0.5s ease-in-out;
            transform: translateX(-40%);
            max-width: calc(100% - 300px);
            max-height: 300px;
            object-fit: contain;

            @media (max-width: 540px) {
                max-width: calc(100% - 40px);
            }
        }

        &:hover {
            img {
                transform: translateX(0) ;
            }

            .ks-product-about {
                &:after {
                    width: 100%;
                }
            }
        }

        @media (max-width: 540px) {
            flex-direction: column;
        }
    }



    .set-2 {
        animation: moveright 0.6s ease-in-out forwards;
        opacity: 0;

        img {
            transform: translateX(40%);

            @media (min-width: 541px) {
                margin-left: auto;
            }
        }

        .ks-product-about {
            margin-left: 0;
        }
    }
}

.ks-furniture-hero {
    min-height: 100px;

    .carousel-indicators {
        justify-content: flex-start;
        margin-left: 60px;
        bottom: 10px;

        @media (max-width: 990px) {
            bottom: 10px;
            justify-content: flex-end;
            margin-right: 60px;
        }

        @media (max-width: 540px) {
            justify-content: flex-start;
            margin-left: 30px;
        }

        li {
            background-color: rgba(165, 149, 149, 0.5);
        }

        .active {
            background: #383838;
        }
    }

    .slide .carousel-item {
        min-height: auto !important;
        height: auto !important;
        background: #f7f7f7;

        img {
            @media (max-width: 540px) {
                min-height: 200px;
                object-fit: cover;
                object-position: right;
                padding-top: 130px;
            }
        }

        .ks-banner-txt-sub,
        .ks-banner-txt-main,
        .ks-btn-theme {
             opacity: 0;
        }

        &.active {
            .ks-banner-txt-sub {
                animation: moveleft 0.6s ease-in-out forwards;
            }

            .ks-banner-txt-main {
                animation: moveleft 0.6s ease-in-out 0.3s forwards;
            }

            .ks-btn-theme {
                animation: moveleft 0.6s ease-in-out 0.6s forwards;
            }
        }
    }
}

.ks-product-collection {

    .ks-collection-view {

    .ks-collection-main-text {
        color: $black;
    }

        .ks-collection-item {
            background-position: bottom;
            border-radius: 25px;

            @media (max-width: 990px) {
                background-blend-mode: inherit;
            }
        }

         > section {
                opacity: 0;
        }
        &:not(.no-animation) {
            > section {
                &:nth-child(1),
                &:nth-child(3) {
                    animation: moveleft 0.6s ease-in-out forwards;
                }


                &:nth-child(2),
                &:nth-child(4) {
                    animation: moveright 0.6s ease-in-out forwards;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    animation-delay: 0.6s;
                }
            }
        }
    }
}

.ks-furniture-exclusive {
    @media (max-width: 540px) {
        h3 {
            font-size: 18px;
        }
    }
}

.snippet_featured_home_page,
.ks_product_slider_multiple {
    border: none;
}


.ks-contact-head {
    margin-bottom: 60px;

    + .container {
        margin-bottom: 30px;
    }

    .ks-bg-color  {
        padding: 20px;
    }
}

//featured Snippet

.ks_featured_home_page {
    .product-card {
        width: calc(25% - 26px);

        @media (max-width: 990px) {
            margin: 20px 5px 0 !important;
            width: calc(25% - 20px) !important;
        }

        @media (max-width: 540px) {
            margin: 10px 5px !important;
            width: calc(50% - 10px) !important;
        }
    }

    .nav-link {
        @media (max-width: 990px) {
            padding: 0;
        }
    }
}

.ks-featured-product-grid {
   .product-card {
       animation: moveupfull 0.5s ease-in-out forwards;
       opacity: 0;

        @for $i from 2 through 21 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.1s ;
            }
        }
   }
}
.ks-deal-sales{
    .limited-text{
         color: $primary;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .flip-clock-label{
        font-size: 1rem;
        font-weight: 600;
        color: #141f1e;
        margin-left: 64px;

        @media (max-width: 575px) {
            font-size: 10px !important;
            margin-left: 0px;
        }

    }
    .ks_hour{
        margin-left: 116px;
    }
    .ks_min{
        margin-left: 106px;
    }
    .ks_sec{
        margin-left: 96px;
    }
    .flip-clock-divider {
        @media (max-width: 575px) {
            width: 11px;
            left: -2px;
        }
    }
    .flip-clock-wrapper ul li a div div.inn{
        background: $primary;
        color: #fff;
        font-size: 60px;
    }

    .ks-deal-text-outer {
        display: flex;

        @media (max-width: 575px) {
            max-width: 252px;
            z-index: 1;
            margin-bottom: -20px;
            position: relative;
            margin-left: auto;
            margin-right: auto;

            .ks_hour{
                margin-left: 16px;
            }
            .ks_min{
                margin-left: 8px;
            }
            .ks_sec{
                margin-left: 15px;
            }
        }
    }
}

@media(max-width: 767px){
    .ks-deal-sales {
        .flip-clock-wrapper {
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 0px;
            height: 40px;
        }

        .flip-clock-wrapper ul li {
          line-height: initial;

          a div div.inn {
                font-size: 16px;
                padding: 2px;
          }
        }

        .flip-clock-wrapper ul {
            width: 20px;
            height: 25px;
            line-height: initial;
            font-size: 16px;
            padding: 0px;
            margin: 3px;
        }

        .flip-clock-divider {
            height: 45px;
        }

        .flip-clock-dot.top {
            top: 7px;
        }

        .flip-clock-dot.bottom {
            bottom: 20px;
        }

        .flip-clock-label {
            right: -45px !important ;
            width: 50px;
            text-align: center;
        }
       .flip-clock-label{
                font-size: inherit;
        }

        .flip-clock-dot {
           width: 5px;
           height: 5px;
        }
    }
}
.carousel-content{
    h2 .o_default_snippet_text{
       color: $black;
    }
}
.ks-pr-xxl-4 h1,
.ks-pricing-4 .pricing-table .heading,
.ks-heading-large,
.blog_heading,
.ks-pricing-large,
.ks-product-name,
.ks-book-txt-sub,
.ks-banner-txt-main{
    color: $black;
}

.our-team .team-title{
    h5{
        color: $black;
    }
}


