.ks-list-block-container {
    background-color: #f6f7fb;
    padding: 18px 0;
    .ks-list-block {
        max-width: 1400px;
        margin: 0 auto;

        .owl-stage-outer {
            padding: 15px 0px 45px 0px;
            position: relative;
            z-index: 10;
        }
        .owl-item {
            justify-content: center;
            display: flex;
        }

        // for common blogs
        .ks-list-block-item {
            border-radius: 15px;
            background: white;
            box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            margin: 0 5px;
            transition: all 0.5s;
            &:hover {
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.08);
                .ks-blogs-middle {
                     img {
                        transform: scale(1.1);
                    }
                }
            }
            .ks-block-top {
                min-height: 60px;
                .ks-blogs-user-image,
                .ks-blogs-user-name {
                    height: 44px;
                    max-width: 44px;
                    width: 100%;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: #228399;
                }
                .ks-blogs-user-name {
                    & > h3 {
                        font-size: 20px;
                        text-align: center;
                        line-height: 44px;
                        color: #fff;
                    }
                }

                .ks-ks-user-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    width: calc(100% - 50px);
                    word-break: break-all;
                    text-align: left;
                }
                .current-month {
                    font-size: 14px;
                }
            }
            .ks-blogs-middle {
                height: 200px;
                overflow: hidden;
                img {
                    transform: scale(1);
                    transition: all 0.5s;
                }
            }
            .ks-block-top,
            .ks-blogs-bottom {
                padding: 12px;
                text-align: left;
            }
            .ks-blogs-bottom {
                & > h5 {
                    font-size: 16px;
                }
                .ks-blog-info {
                    color: #656464;
                    font-size: 14px;
                }
            }
        }
        //// for squre 2

        .ks-blog-read {
            height: 38px;
            width: 38px;
            padding: 0;
            line-height: 38px;
            text-align: center;
            border-radius: 50%;
            & > i {
                font-size: 20px;
            }
        }
        

        //// for squre 3

        .ks-blog-read-v2 {
            height: 28px;
            width: 28px;
            padding: 0;
            line-height: 28px;
            text-align: center;
            border-radius: 50%;
            font-size: 14px;
            margin-left: 10px;
            & > i {
                font-size: 18px;
            }
        }
    }
    .image-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



// Don't add it in main file
// heading
.theme__heading {
    letter-spacing: 1.03px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: auto;
    font-size: 30px;
    text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.12);
    padding-bottom: 20px;
    &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        background: $primary;
        bottom: 8px;
        left: calc(50% - 50px);
        box-shadow: 1px 7px 7px 0px rgba(0, 0, 0, 0.27);
    }
    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 8px;
        background: $primary;
        bottom: 5px;
        left: calc(50% - 10px);
        border-radius: 3px;
        box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.1);
    }
  }

.theme-blog-btn {
    background: $primary;
    color: $theme-text-color;
    border-radius: 0px;
    padding: 6px 20px;
    transition: 0.3s ease-in-out;
    transform: scale(1);
    &:hover {
        transform: scale(1.1);
        color: #ffffff;
    }
}
.theme-blog-btn-2 {
    font-size: 14px;
    font-weight: 600;
    color: #228399;
    letter-spacing: 1px;
    position: relative;
    padding: 4px 8px;
    &:after,
    &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 0px;
        background: #228399;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.4s;
    }
    &:after {
        right: -6px;
    }
    &::before {
        left: -6px;
    }
    &:hover {
        text-decoration: none;
        color: #228399;
        &:after,
        &::before {
            width: 12px;
        }
    } 
}

.ks-blogs-bottom{
    .ks-ks-user-name{
        color: #000;
        padding-bottom: 5px;
        padding-top: 10px;
    }
}

.ks-blog-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .ks-blog-button{
        margin-left: auto;
    }
    .text-muted{
        display: flex;
        align-items: center;
        .fa-tags{
            margin-right: 5px;
        }
         a.badge.badge-primary{
            display: inline-block;
            font-size: 11px;
            font-weight: 400;
            background: transparent;
            color: #000;
            border: 1px solid #ccc;
            line-height: 23px;
            height: 25px;
            margin: 5px 2px;
            border-radius: 20px;
         }
    }
}